<form action="https://formspree.io/f/mblrdrkn" id="contact-form" method="POST">
  <stack-l>
    <label for="name">Name<span>*</span></label>
    <input
      id="name"
      type="text"
      name="name"
      maxLength="256"
      autocorrect="off"
      spellcheck="false"
      required
    />
    <label for="email">Email<span>*</span></label>
    <input
      id="email"
      type="email"
      name="_replyto"
      maxLength="256"
      autocapitalize="none"
      autocorrect="off"
      spellcheck="false"
      required
    />
    <label for="subject">Subject<span>*</span></label>
    <input
      id="subject"
      type="text"
      name="_subject"
      maxLength="256"
      required
    />
    <div class="sr-only">
      <label for="potedemel">Skip this field if you’re human<span>*</span></label>
      <input
        id="potedemel"
        type="text"
        name="_gotcha"
        maxLength="64"
      />
    </div>
    <label for="message">Message<span>*</span></label>
    <textarea
      id="message"
      name="message"
      maxLength="4096"
      rows="10"
      required
    ></textarea>
    <div
      class="g-recaptcha" id="contact-recaptcha" data-theme="dark"
      data-sitekey="6LckLxQqAAAAAKBl3PrzTCloT8_WcnACYINSBZvD">
    </div>
    <button class="button button-primary" type="submit">
      Send it!
    </button>
  </stack-l>
</form>
