<!-- axelinter:disable:button-name -->
<header id="header">
  <cluster-l justify="space-between" align="center" id="nav-primary-wrapper">
      <div id="zed-icon-wrapper">
        <a href="/"><span class="sr-only">Home</span></a>
      </div>
      <zed-theme-toggle>
        <button id="theme-toggle"></button>
      </zed-theme-toggle>
  </cluster-l>
</header>
