---
layout: layout.njk
---

<main id="main">
  <stack-l>
    <article class="post" data-pagefind-body>
      <stack-l>
        {{ content | safe }}
      </stack-l>
    </article>
  </stack-l>
</main>
