<!-- Recipes -->
{% set previousRecipe = collections.recipesAscending | getPreviousCollectionItem %}
{% set nextRecipe = collections.recipesAscending | getNextCollectionItem %}

{% if previousRecipe or nextRecipe %}
  <nav aria-label="pagination">
    <cluster-l justify="space-between">
      {% if previousRecipe %}
        <a href="{{ previousRecipe.url }}" id="page-previous">← Previous</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% if nextRecipe %}
        <a href="{{ nextRecipe.url }}" id="page-next">Next →</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
    </cluster-l>
  </nav>
{% endif %}

<!-- Mixes -->
{% set previousMix = collections.mixesAscending | getPreviousCollectionItem %}
{% set nextMix = collections.mixesAscending | getNextCollectionItem %}

{% if previousMix or nextMix %}
  <nav aria-label="pagination">
    <cluster-l justify="space-between">
      {% if previousMix %}
        <a href="{{ previousMix.url }}" id="page-previous">← Previous</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% if nextMix %}
        <a href="{{ nextMix.url }}" id="page-next">Next →</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
    </cluster-l>
  </nav>
{% endif %}

<!-- Rums -->
{% set previousRum = collections.rumsAscending | getPreviousCollectionItem %}
{% set nextRum = collections.rumsAscending | getNextCollectionItem %}

{% if previousRum or nextRum %}
  <nav aria-label="pagination">
    <cluster-l justify="space-between">
      {% if previousRum %}
        <a href="{{ previousRum.url }}" id="page-previous">← Previous</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% if nextRum %}
        <a href="{{ nextRum.url }}" id="page-next">Next →</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
    </cluster-l>
  </nav>
{% endif %}


<!-- Rhums -->
{% set previousrhum = collections.rhumsAscending | getPreviousCollectionItem %}
{% set nextrhum = collections.rhumsAscending | getNextCollectionItem %}

{% if previousrhum or nextrhum %}
  <nav aria-label="pagination">
    <cluster-l justify="space-between">
      {% if previousrhum %}
        <a href="{{ previousrhum.url }}" id="page-previous">← Previous</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% if nextrhum %}
        <a href="{{ nextrhum.url }}" id="page-next">Next →</a>
      {% else %}
      <div id="zed-icon-wrapper">
        {% svgIcon "./_site/assets/images/icons/zed.svg" %}
      </div>
      {% endif %}
    </cluster-l>
  </nav>
{% endif %}
