/**
 * Utilities CSS
 *
 * 1. .alignleft, .alignright, .aligncenter
 * 2. .no-break
 * 3. .sr-only,.keywords, .govuk-visually-hidden, anchors
 * 4. .frac
 * 5. .small-caps
 * 6. .short-work
 * 7.  Print styles
 */

 /* .alignleft, .alignright, .aligncenter */
.alignleft {
  text-align: start;
}

.alignright {
  text-align:end
}

.aligncenter {
  text-align: center;
  text-wrap: balance;
}

/* .no-break */
.no-break {
  break-inside: avoid;
}

/* .sr-only, .keywords, .govuk-visually-hidden */
.sr-only,
.keywords,
.govuk-visually-hidden {
  position: absolute;
  display: inline-block;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  white-space: nowrap;

  border-width: 0;
}

*[hidden] {
  display: none;
}

.header-anchor {

  opacity: 0;
  transition: opacity .2s;
  -webkit-user-select: none;
  user-select: none;
  padding-left: .5rem;

  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

/* .frac */
.frac sup,
.frac sub {
  font-size: .55rem;
}

.frac sub {
  display: inline-block;
  position: relative;
  inset-inline-start: -.1rem;
  inset-block-start: -.2rem;
}

table .frac {
  display: inline-block;
  position: relative;
  inset-inline-start: -.25rem;
  margin-inline-end: -.6rem;
  font-weight: 600;

  sup {
    display: inline-block;
    position: relative;
    inset-inline-end: -.25rem;
  }

  sub {
    inset-inline-start: -.25rem;
  }
}

/* .small-caps */
.small-caps {
  font-variant:  all-small-caps;
  letter-spacing: .05ch;
}

/* .short-work */
.short-work {
  font-style: normal;

  quotes: "\201C" "\201D" "\2018" "\2019";

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

/* Smooth scroll wrapper */
.scroller {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduced) {
  .scroller {
    scroll-behavior: auto;
  }
}

/* Print styles */

@media print {

  header, footer, #toc__wrapper {
    display: none;
  }

  #section-experience a[href^="https://"]:not([href="https://github.com/seezee/github-readme-stats"])::after,
  #section-open-source a[href^="https://"]:not([href="https://github.com/seezee/github-readme-stats"])::after {
    content: "\00A0•\00A0" attr(href);
  }


  .utl-screen-only {
    display: none;
  }

  .utl-print-only {
    display: inline-block;
  }

  #section-experience {
    page-break-after: always;
  }
}

@media not print {
  .utl-print-only {
    display: none;
  }
}
