zed-dialog-img {

  figure,
  picture,
  figcaption {
    color: var(--zed-color-textPrimary);
    cursor: default;

    img {
      cursor: pointer;
    }
  }

    dialog {
      /* Variables for animation;
    see https://www.oidaisdes.org/native-dialog-and-popover.en/ */
    --duration: 150ms;
    --start-opacity: 0.5;

    @media screen and (prefers-reduced-motion: no-preference) {
      --start-scale: scale(0.8);
    }

    pointer-events: none;
    margin: auto;
    background-color: var(--zed-color-textSecondary);
    border: solid var(--border-thin) var(--zed-color-textPrimary);
    border-radius: var(--zed-radius-2x);

    /* Don't use logical property on image */
    width: clamp(320px, calc(50vw + var(--s3)), calc(100vw - 2em - 6px));

    /* End values for fade out. */
    opacity: var(--start-opacity);
    transform: var(--start-scale);
    transition:
      opacity var(--duration) var(--ease-out-1),
      transform var(--duration) cubic-bezier(0, 0, 0.2, 1),
      overlay var(--duration) allow-discrete,
      display var(--duration) allow-discrete;

    &::backdrop {
      background-color: var(--zed-modal-background-color);
      backdrop-filter: blur(16px);
      /* End value for fade out. */
      opacity: 0;
      transition: opacity var(--duration),
        overlay var(--duration) allow-discrete,
        display var(--duration) allow-discrete;
    }

    &[open] {
      pointer-events: inherit;
      /* End values for fade in; start values for fade out. */
      opacity: 1;
      transform: scale(1);

      @starting-style {
        /* Start values for fade in. */
        opacity: var(--start-opacity);
        transform: var(--start-scale);
      }

      &::backdrop {
        /* End value for fade in; start value for fade out. */
        opacity: 1;
      }
    }
  }
}

/* This starting-style rule cannot be nested inside the above selector because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  zed-dialog-img dialog[open]::backdrop {
    /* Start value for fade in. */
    opacity: 0;
  }
}
